.section-bio-link{
    text-decoration: none;
    color:var(--primrary-color);
}

.section-bio-link:hover{
    text-decoration: underline;
}

.social-link{
    margin:0rem .5rem;
}

.social-link .social-link-img{
    border: 1px solid black;
    max-width: 30px;
}

