.container-centered{
    gap:1ch;
}


.list-item-project{
    margin-bottom: .5rem;
}

.list-item-project h2,small,p,div{
    margin:0;
}

.list-item-project h2{
    margin-bottom: .1rem;
}

.list-item-project small{
    margin-bottom: .7rem;
}

.list-item-project p{
    margin-bottom: .5rem;
}

.list-item-project-div{
    display: flex;
    flex-direction: column;
    margin:0;
}

.list-item-link-div{
    display: flex;
    padding:0;
    padding:.2rem 0;
}


.list-item-link-div a{
    margin:0;
    margin-right: 1%;
    text-align: center;
}

h1{
    margin: 0;
}

@media (max-width:1200px){
    .list-item-link-div{
        gap:1ch;
    }

    .list-item-link-div a{
        margin:0;
    }

}

@media (max-width:992px){
    .list-item-link-div{
        gap:1ch;
    }

    .list-item-link-div a{
        margin:0;
    }

}

@media (max-width:768px){
    .list-item-link-div{
            flex-direction: column;
        gap:1ch;
    }

    .list-item-link-div a{
        margin:0;
        width: 80%;
        margin:auto;
    }

}

@media (max-width:570px){
    .list-item-link-div{
        flex-direction: column;
        gap:1ch;
    }

    .list-item-link-div a{
        margin:0;
        width: 100%;
    }

    .list-item-project p{
        font-size: 5.5vw;        
    }
}
