.writings-blog-head{
    font-size: 3vw;
    color:var(--dark-gray);
    font-weight: bold;
    margin-bottom: .8rem;
}

.writings-list-item{
    font-weight: 500;
    margin: 0;
    /* border: 2px solid red; */
    margin-bottom: 2%;
    /* margin-bottom: .rem; */
}

.writings-link{
    text-decoration: none;
    color:rgb(0,0,0);
    font-weight: 700;
    font-size: .8rem;
}

.writings-link:hover{
    color:var(--primrary-color);
}

.writings-blog-div
{
    /* border:2px solid black; */
    margin:.5rem 0;
    padding:.5rem .2rem;
}

.list-non-bullet{
    margin:0px;
}

@media (max-width:1200px) {
    .writings-list-item a{
        font-size: 2vw;
    }
}

@media (max-width:768px) {
    .writings-list-item a{
        font-size: 2.5vw;
    }
}

@media (max-width:570px) {
    .writings-blog-div{
        display: flex;
        flex-direction: column;
        /* padding:.5rem 0; */
        padding:inherit .5rem;
    }

    .list-non-bullet{
        display: flex;
        flex-direction: column;
    }

    .writings-blog-head{
        font-size: 8vw;
    }

    .writings-list-item a{
        font-size: 5vw;
    }

}